.button {
    background-color: var(--color-red);
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0.25rem 0.6rem;
}   

.button.sm {
    font-size: 14px;
    font-weight: 600;
    padding: 0.25rem 0.6rem;
}

.button.md {
    font-size: 19px;
    font-weight: 600;
    padding: 0.4rem 0.7rem;
}
