@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-blue: #0205c7;
  --color-red: #f00109;
  --color-green: #00e676;

  --color-purple: #8297e0;

  --color-background-gray: #e5e5e5;

  --header-height: 61px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin-top: var(--header-height);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.section {
  text-align: center;
  padding: 4.5rem 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.bg-gray {
  background-color: var(--color-background-gray);
}

.bg-white {
  background-color: white;
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 80px;
  }
  .section {
    padding: 5.5rem 0;
  }
}
