.button-whatsapp {
    background-color: #00E676;
    border: none;
    border-radius: 2rem;
    font-size: 8px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    width: 170px;
    height: 35px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    .button-whatsapp {
        font-size: 14px;
        width: auto;
        padding: 1.5rem 0.5rem;
    }
    
}