.header {
  position: fixed;
  background-color: var(--color-blue);
  height: 61px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__logo {
  width: 50px;
}

.header__button {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}

.header__button p {
  color: white;
  font-size: 6.5px;
  font-weight: 500;
}

/* ===== MENU ===== */

.btn-menu {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  padding: 0.5rem 0.3rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}

