.why-us {
    height: calc(760px - var(--header-height));
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background-color: var(--color-background-gray);
}

.why-us__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}