.footer * {
    color: white;
}
.footer {
    background-color: #595858;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer__title {
    font-size: 12px;
    font-weight: 500;
}


.footer > div:first-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.footer__know-us li{
    list-style-type: initial;
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-size: 12px;
    font-weight: 300;
}

.footer__contact-us {
    width: 85%;
    padding-bottom: 1rem;
}

.footer__contact-us li{
    font-size: 12px;
    display: flex;

    line-height: 1.3;
    padding: 0.45rem 0;
}

.footer__contact-us li i {
    padding: 0.1rem;
    margin-right: 0.4rem;
}

.footer__social-media ul {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
}