.card-virtual-class {
  background-color: white;
  border-radius: 1.1rem;
  width: 298px;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.card-virtual-class__info {
  margin-bottom: 1.5rem;
}

.card-virtual-class__info h4 {
  font-size: 18px;
  font-weight: 600;
}

.card-virtual-class__info p {
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
}

.card-virtual-class__img {
  width: 100%;
  height: 128px;
  background-color: #c4c4c4;
  border-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .card-virtual-class {
    width: 570px;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-starts;
    padding: 1.8rem 1.2rem;
  }
  
  .card-virtual-class.reverse {
    flex-direction: row-reverse;
  }

  .card-virtual-class__info {
    flex: 50%;
  }

  .card-virtual-class__img {
    margin-top: 2rem;
    flex: 50%;
  }
}
