.menu {
  background-color: white;
  width: 100%;
  top: 100%;
  right: -100%;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.24);
}

.menu.show {
  right: 0%;
}

.menu li {
  border-bottom: 1px solid gray;
}

.menu li a {
  padding: 0.57rem 0;
  font-size: 18px;
  width: 100%;
  display: block;
  font-weight: 500;
  color: black;
}

.menu li:last-child {
  border-bottom: none;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: 300px;
    height: auto;
    right: -100%;
  }
  .menu.show {
    right: 9%;
    left: auto;
  }
  
  
.menu li a {
  font-size: 15px;
}
  
}