.what-we-teach-you {
  text-align: center;
  background-color: var(--color-background-gray);
}

.what-we-teach-you > p {
  font-size: 13px;
  font-weight: 400;
  width: 80%;
  margin: 1rem auto 2.5rem;
}

.what-we-teach-you__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.what-we-teach-you__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 2rem 0 0;
}

.what-we-teach-you__price .icon {
  color: var(--color-blue);
}

.price-and-rows-container {
  display: flex;
  align-items: center;
}

.what-we-teach-you__price .price-container {
  background-color: var(--color-blue);
  width: 275px;
  padding: 0.4rem;
  border-radius: 1.25rem;
  position: relative;
}

.icons-arrows-container {
  display: none;
}

.what-we-teach-you__price > div p {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.what-we-teach-you__price .price {
  position: relative;
}

.what-we-teach-you__price .price p {
  font-size: 96px;
  font-weight: 600;
  line-height: 0.8;
  text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.what-we-teach-you__price .price span {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 11%;
  color: white;
}

@media screen and (min-width: 1024px) {
  .what-we-teach-you__price {
    margin-top: 2rem;
  }

  .what-we-teach-you > p {
    font-size: 18px;
    width: 60%;
  }

  .what-we-teach-you__container {
    flex-direction: row;
    justify-content: center;
  }

  .what-we-teach-you__price {
    padding-bottom: 0;
  }

  .icons-arrows-container {
    display: initial;
  }
  .vertical-arrow {
    display: none;
  }

  
}
