.our-public {
  height: calc(760px - var(--header-height));
  background-color: white;
  display: flex;
  flex-direction: column;
}

.our-public__title {
  text-align: center;

  width: 70%;
  margin: 0 auto;
}

.our-public__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.our-public__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .our-public {
    height: auto;
  }

  .our-public__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0;
  }
}
