.card-our-public {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
}

.card-our-public__img {
  cursor: pointer;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: var(--color-purple);
  overflow: hidden;
  box-shadow: 5px 5px 10px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-our-public__img p {
    border-radius: 50%;
    color: white;
    padding: 0rem;
    font-size: 9px;
    text-align: center;
    padding: 1rem 1.2rem;
    font-weight: 400;
    color: white;
}

.card-our-public__caption {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .card-our-public__caption {
    font-size: 24px;
    color: black;
    font-weight: 500;
  }
}